body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(236, 189, 145);
}

img {
  margin: auto;
  display: block;
}

#featured-property figcaption {
  font-size: smaller;
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin:auto;
}

#details div {
  background-color: olive;
  text-align: center;
  float: left;
  width: 25%;
}